extends layout

block content
  div(id="ThreeJS",style="z-index: 1; position: absolute; left:0px; top:0px")
  script
    $(function(){
    -var before_side = 0
    -city.getNeighbors().forEach(function(neighbor, i){
      -neighbor.getBuilds().forEach(function(build, ind){
        -position = ((ind * before_side) + before_side)
        -console.log("position: " + position)
        -console.log("before side: " + before_side)
        -console.log("side: " + build.side())
        ="add_cube(" + build.side() + "," + build.height()  + ", " + build.side() + ", " + position + ", 0, 4);"
        -before_side = build.side()
      -})
    -});
    })
