doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/info.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/lib/Three.js')
    script(type='text/javascript', src='/javascripts/lib/Detector.js')
    script(type='text/javascript', src='/javascripts/lib/Stats.js')
    script(type='text/javascript', src='/javascripts/lib/OrbitControls.js')
    script(type='text/javascript', src='/javascripts/lib/THREEx.KeyboardState.js')
    script(type='text/javascript', src='/javascripts/lib/THREEx.FullScreen.js')
    script(type='text/javascript', src='/javascripts/lib/THREEx.WindowResize.js')
    script(type='text/javascript', src='/javascripts/lib/jquery-1.9.1.js')
    script(type='text/javascript', src='/javascripts/lib/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/lib/info.js')
    script(type='text/javascript', src='/javascripts/city.js')
